<div class="articles-title">
    #{{$ctrl.post._id}} {{$ctrl.post.title}}
</div>
<div class="articles__content">
    {{$ctrl.post.body}}
</div>
<ui-gmap-google-map center="$ctrl.testMap.center" zoom="$ctrl.testMap.zoom" control="$ctrl.mapCtrl">
    <ui-gmap-circle ng-repeat="circle in $ctrl.testCircles" center="circle.center" control="circle" radius="$ctrl.circleTemplate.radius" stroke="$ctrl.circleTemplate.stroke" fill="$ctrl.circleTemplate.fill" events="$ctrl.circleTemplate.events">
        <ui-gmap-marker ng-repeat="(key,value) in $ctrl.customMarkers" options="value.options" idKey="key" events="$ctrl.markerTemplate.events" control="value" coords="value.position">
</ui-gmap-google-map>
<div>
    <input type="button" ng-click="$ctrl.fbShare()" class="button-inline" name="" value="Share with Facebook">
</div>
<div class="articles-author">
    <ul class="articles-author-list">
        <li class="articles-author__item">
            Author: {{$ctrl.author.name}}
        </li>
        <li class="articles-author__item">
            Email:
            <a href="mailto:{{$ctrl.author.email}}">{{$ctrl.author.email}}</a>
        </li>
    </ul>
</div>
<div class=" articles-comments ">
    <div class="articles-comments__header ">
        Comments
    </div>
    <ul class="articles-comments-list ">
        <li class="articles-comments-item " ng-repeat="comment in $ctrl.comments ">
            <div class="articles-comments__info ">
                # {{comment.id}} {{comment.email}}
            </div>
            <div class="articles-comments__name ">
                {{comment.name}}
            </div>
            <div class="articles-comments__body ">
                {{comment.body}}
            </div>
        </li>
    </ul>
</div>